.header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.add-video {
    margin-left: auto;
}

